div#popup {
    position: fixed;
    width: 320px;
    height: 120px;
    border: 15px solid orange;
    padding: 10px;
    background-color: white;
    z-index: 10000;
}

span.closePopup {
    border: 2px solid orange;
    margin: 5px;
    position: absolute;
    top: 0px;
    right: 0px;
    cursor: pointer;
    border-radius: 13px;
    font-size: 17px;
    line-height: 26px;
    padding-left: 6px;
    padding-bottom: 6px;
    width: 26px;
    height: 26px;
    font-family: 'Courier New', Courier, monospace;
}