div.wrapSearchPanel {
    margin-left: 5px;
    line-height: 1;
    padding-top: 3px;
}

div.searchPanel {
    display: block;
    padding: 0 5px;
    font-size: 14px;
}

span.searchPanel {
    font-size: 16px;
}

input.check {
    margin: 2px 0 0 3px;
    display: inline-block;
}

input.searchPanel {
    font-size: 14px;
    height: 18px;
    margin-top: 3px;
}

.checkDivider {
    color: gray;
}

input,
label {
    height: 14px;
    margin: 0;
}

.checkGroup {
    display: inline-flex;
    justify-content: center;
}