div.wrapSearchPanel {
    margin-left: 5px;
    line-height: 1;
    padding-top: 3px;
}

div.searchPanel {
    display: block;
    padding: 0 5px;
    font-size: 14px;
}

span.searchPanel {
    font-size: 16px;
}

input.searchPanel {
    font-size: 14px;
    height: 18px;
    margin-top: 3px;
}

.checkGroup {
    display: inline-flex;
    line-height: 0.6;
    margin-left: 8px;
}

label {
    margin-bottom: 0;
}