/*--------------- Панель ---------------*/

.panel {
    background-color: lightgrey;
    z-index: 2000000000;
    cursor: default;
    padding: 4px 4px 4px 10px;
}

.button {
    margin: 2px;
}

.plusSign {
    font-size: 16px;
    padding: 0px;
    margin: 0px;
}

#inform {
    display: inline-flex;
    font-size: 22px;
    color: green;
    margin: 7px;
}

.symbol {
    color: white;
    cursor: pointer;
    display: inline-block;
    background: linear-gradient(to top, grey, white);
}