.newSticker {
    width: 100px;
    height: 100px;
    background-color: white;
    padding: 2px;
    margin: 2px;
    font-size: 10px;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 1px dotted gray;
    cursor: move;
    z-index: 1;
    overflow: hidden;
}

.newSticker h1 {
    font-size: 12px;
    line-height: 12px;
    color: darkgreen;
}

.panel {
    height: 50px;
    width: 100%;
    background-color: blue;
    z-index: 2000000000;
    cursor: default;
    padding-left: 10px;
}

.symbol {
    color: white;
    font-size: 48px;
    width: 50px;
    cursor: pointer;
    display: inline-block;
}