.newNote {
    width: 100px;
    height: 100px;
    background-color: lightgreen;
    padding: 2px;
    font-size: 10px;
    color: chocolate;
    font-family: Georgia, 'Times New Roman', Times, serif;
    overflow: hidden;
}

.newNote h1 {
    font-size: 12px;
    line-height: 12px;
}

.preNote {
    width: autopx;
    height: autopx;
    background-color: white;
    padding: 2px;
    font-size: 14px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}