.newSticker {
    width: 100px;
    height: 100px;
    background-color: white;
    padding: 2px;
    margin: 2px;
    font-size: 10px;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 1px dotted gray;
    cursor: move;
    z-index: 1;
    overflow: hidden;
}

.newSticker h1 {
    font-size: 12px;
    line-height: 12px;
    color: darkgreen;
}

.preNote {
    width: autopx;
    height: autopx;
    background-color: white;
    padding: 2px;
    font-size: 14px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}