.panel {
    background-color: lightgray;
    z-index: 2000000000;
    cursor: default;
    padding: 4px 4px 4px 10px;
}

.symbol {
    color: white;
    cursor: pointer;
    display: inline-block;
    background: linear-gradient(to top, grey, white);
}

.menu {
    padding: 3px;
}