h1 {
    font-size: 14px;
    line-height: 14px;
    color: darkgreen;
}

textarea {
    width: 285px;
    height: auto;
    margin: 3px;
    border: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 5px;
    background-color: lightyellow;
}

input {
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 2px;
    color: darkgreen;
    font-size: 16px;
    font-weight: 700;
}


/*
#stickyNotes {
    display: inline-flex;
    flex-wrap: wrap;
    margin: 0 auto;
}
*/

.newSticker {
    display: inline-block;
    vertical-align: top;
    width: 150px;
    height: 45px;
    background: white;
    padding: 2px;
    margin-left: 8px;
    font-size: 10px;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 1px dotted green;
    z-index: 1;
    overflow: hidden;
    cursor: move;
    outline-width: 0px;
}

.newSticker h1 {
    font-size: 12px;
    line-height: 12px;
    color: darkgreen;
    margin-bottom: 12px;
}

.mapSticker {
    display: inline-block;
    vertical-align: top;
    width: 150px;
    height: 45px;
    background: white;
    padding: 2px;
    margin: 2px;
    font-size: 10px;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 1px dotted green;
    z-index: 1;
    overflow: hidden;
    cursor: move;
}

.mapSticker h1 {
    font-size: 12px;
    line-height: 12px;
    color: darkgreen;
}

.editMini {
    background: gray;
}

.editBig {
    float: right;
    cursor: pointer;
    margin: 3px;
}

.mouseover {
    background: white;
}

.out {
    position: absolute;
    left: 50%;
    bottom: 50px;
}

.del {
    float: right;
    cursor: pointer;
}

.edit {
    cursor: pointer;
}