h1 {
    font-size: 14px;
    line-height: 14px;
    color: darkgreen;
}

textarea {
    width: 285px;
    height: auto;
    margin: 3px;
    border: 0px;
}

.newSticker {
    display: inline-block;
    vertical-align: top;
    width: 150px;
    height: 55px;
    background: linear-gradient(to top, lightgrey, white);
    padding: 2px;
    margin: 2px;
    font-size: 10px;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 1px dotted green;
    z-index: 1;
    overflow: hidden;
    cursor: move;
}

.newSticker h1 {
    font-size: 12px;
    line-height: 12px;
    color: darkgreen;
}

.editSticker {
    display: inline-block;
    width: 300px;
    height: 300px;
    background-color: white;
    border: 1px dotted darkgreen;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 12px;
    padding: 4px;
}

.editSticker textarea {
    height: 260px;
}

.editSticker h1 {
    font-size: 14px;
    line-height: 14px;
    color: darkgreen;
}

.mapSticker {
    display: inline-block;
    vertical-align: top;
    width: 150px;
    height: 55px;
    background: linear-gradient(to top, lightgrey, white);
    padding: 2px;
    margin: 2px;
    font-size: 10px;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 1px dotted green;
    z-index: 1;
    overflow: hidden;
    cursor: move;
}

.mapSticker h1 {
    font-size: 12px;
    line-height: 12px;
    color: darkgreen;
}

.editMapSticker {
    display: inline-block;
    width: 300px;
    height: 410px;
    background-color: white;
    border: 1px dotted darkgreen;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 12px;
    padding: 4px;
}

.editMapSticker h1 {
    font-size: 14px;
    line-height: 14px;
    color: darkgreen;
}

.editMapSticker textarea {
    height: 40px;
}

input.adress {
    width: 265px;
    font-size: 11px;
    margin: 2px 0px;
    color: grey;
}

.editMap {
    width: 100%;
    height: 300px;
}

input {
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 2px;
    color: darkgreen;
    font-size: 16px;
    font-weight: 700;
}

textarea {
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 5px;
    background-color: lightyellow;
}

.editMini {
    background: gray;
}

.editBig {
    float: right;
    cursor: pointer;
    margin: 3px;
}

.mouseover {
    background: white;
}

.out {
    position: absolute;
    left: 50%;
    bottom: 50px;
}

.del {
    float: right;
    cursor: pointer;
}

.edit {
    cursor: pointer;
}